@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: 'Milkshake';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/Milkshake.otf') format("opentype");
}

body {
  background: #dccfcf;
}

ul {
  list-style-type: none;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}

.navbar {
  margin-left: 15%;
}

.navbar-brand {
  font-weight: bold;
  font-size: 2em;
}

.navbar a {
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-right: 3em;
}

.title {
  font-family: 'Milkshake', cursive;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;

  h1 {
    font-size: 16vw;
  }

  h3 {
    font-size: 4vw;
  }
}

.avatar {
  border-radius: 50%;
  max-height: 200px;
  margin: 1em;
}

.bg-pg {
  background: #cac2c2;
}

.progress {
  border-radius: 10px;
  border: 1px solid #aaa2a2;
  margin: 1em;
}

.post-preview {
  text-align: justify;
}

.post-title {
  font-size: 2em;
}

.post-subtitle {
  font-size: 1.6em;
}

h2.post-title, h3.post-subtitle {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.post-meta {
  font-size: 1em;
}

footer {
  p {
    font-size: 0.6em;
    display: inline-block;
  }

  li {
    display: inline-block;

    img {
      height: 25px;
      width: 25px;
    }
  }
}

.footer {
  width: 100%;
}
